" Start .vimrc
if has('vim_starting')
  set nocompatible
  set runtimepath+=~/.config/vim/bundle/neobundle.vim/
endif

scriptencoding utf-8

"=============================================
" Initialization
"=============================================

" Load neobundle
call neobundle#begin(expand('~/.config/vim/bundle/'))

NeoBundleFetch 'Shougo/neobundle.vim'
{% if 'bundles' in vim %}
{% for bundle in vim['bundles'] %}
NeoBundle '{{ bundle['name'] }}'{{ ", {{ {} }}".format(bundle['opts']) if 'opts' in bundle else ''}}
{% endfor %}
{% endif %}

" Check for missing packages
NeoBundleCheck

call neobundle#end()

" Load plugins
filetype plugin indent on

"=============================================
" Backups
"=============================================

set backupdir=~/.config/vim/backups,.
set directory=~/.config/vim/swaps,.
if exists('&undodir')
  set undodir=~/.config/vim/undo,.
endif

{% if 'options' in vim %}
"=============================================
" Options
"=============================================

{% for option in vim['options'] %}
{% if 'comment' in option %}
" {{ option['comment'] }}
{% endif %}
{{ option['config'] }}
{% endfor %}
{% endif %}

{% if 'remaps' in vim %}
"=============================================
" Remaps
"=============================================

{% for remap in vim['remaps'] %}
{% if 'comment' in remap %}
" {{ remap['comment'] }}
{% endif %}
{{ remap['config'] }}
{% endfor %}
{% endif %}

{% if 'bundles' in vim %}
"=============================================
" Package Settings
"=============================================

{% for bundle in vim['bundles'] %}
{% if 'config' in bundle %}
" {{ bundle['name'] }}
{{ bundle['config'] }}
{% endif %}
{% endfor %}
{% endif %}
